@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .logo-text {
    @apply font-light text-2xl leading-none;
  }

  .nav-link {
    @apply text-colorRed hover:text-colorRedHover transition-colors duration-200;
  }

  .list-item {
    position: relative;
  }

  .list-item::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 2px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #b7280f;
    transform: translateY(-50%);
  }

  .nav-svg path {
    fill: currentColor;
  }

  .btn {
    @apply py-[19px] px-[50px] font-medium text-base text-white leading-4 transition-colors duration-200 border-2;
  }
}
